div{
    width: 100px;
    height: 100px;
    font-size: x-large;
    background-color: crimson;
    border: 2px solid black;

    
}

body{
    margin: 0%;
    width: 60vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    
    
}
