*{
    margin: 0%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.box{
    height: 50vh;
    width: 100px;
    margin: 0%;
    /* background-color: black; */

}